<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @flashcard.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @flashcard.answer %>
</p>


<%= link_to 'Edit', edit_bundle_flashcard_path(@bundle, @flashcard) %> |
<%= link_to 'Back', bundle_path(@bundle) %>
