<h1>Listing flashcards</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
    <th></th>
  </tr>

<% @flashcards.each do |flashcard| %>
  <tr>
    <td><%= flashcard.question %></td>
    <td><%= flashcard.answer %></td>
    <td><%= link_to 'Edit', edit_bundle_flashcard_path(@bundle, flashcard) %></td>
    <td><%= link_to 'Delete', bundle_flashcard_path(@bundle, flashcard), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Flashcard', new_bundle_flashcard_path(@bundle) %>
