<h1>Listing Flashcard Decks</h1>
<br/>




<div  id="flashcards_list">
  <% @bundles.each do |bundle| %>
  <div class="deck"><h2><%= bundle.name %></h2>
    
    <%= bundle.description %><br/>
    <%= link_to 'Flashcards', bundle %>    <i class="icon-trash"></i> <%= link_to 'Delete', bundle, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
</div>

<br />

<%= link_to 'New Deck', new_bundle_path, :class => 'btn .btn-large btn-primary' %>
