<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bundle.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bundle.description %>
</p>

<br/>
<div id="flashcards_list">
<%= render 'flashcards_list' %>
</div>
<br/><br/><br/><br/>

<i class="icon-play-circle"></i> <%= link_to 'Run Flash Cards', :controller => 'bundles', :action => 'use_flash_cards', :bundle_id => @bundle._id %> &nbsp;&nbsp;&nbsp;

<i class="icon-home"></i> <%= link_to 'Back to Flash Card Decks', bundles_path %>
